TestLocateAndParseControlledVocabulary.sh
build/
dist/
*.egg-info/
__pycache__/
*.pyc
filetags.egg-info/
filetags/__pycache__/
manualtests/
tests/testfiles/
update_pip.sh
venv/
.venv/
/tests/__pycache__/
*swp
publish_via_uv.sh
